@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Roboto:wght@500;700&display=swap');

/* font-family: 'Convergence', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background: rgb(63,94,251);
    background: radial-gradient(
        circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%
        )0 100% no-repeat;
        background-size: 100% 50%;
}

.container {
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(50,50,50,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
 
p {
    font-size: 3rem;
    margin: 30px 0;
    font-weight: 500;
    font-family: 'Convergence', sans-serif;
}

button {
    background-color: purple;
    border: none;
    outline: none;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    letter-spacing: 1px;
    transition: all 0.4s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
} 